@model OrderViewModel

@{
    ViewData["Title"] = "Tim's Lumber - Order Summary";
}

<div class="row">
    <div class="col-12">
        <H2>Your order</H2>
        <h4>Order Id: @Model.Order.OrderId</h4>
        <table class="table table-bordered table-striped mt-2">
            <thead>
                <tr>
                    <th>Size</th>
                    <th>Length</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                @foreach (OrderItem OI in Model.Order.OrderItems)
                {
                    <tr>
                        <td>@OI.LumberItem.NominalSize - (@OI.LumberItem.ActualSize)</td>
                        <td>@OI.Length ft</td>
                        <td>@OI.Cost.ToString("C2")</td>
                    </tr>
                }
            </tbody>
        </table>
        <h4 class="text-right">Subtotal: @Model.Order.Subtotal.ToString("C2")</h4>
        <h4 class="text-right">Tax: @Model.Order.Tax.ToString("C2")</h4>
        <h4 class="text-right">Total: @Model.Order.Total.ToString("C2")</h4>

        <a asp-action="MyOrders">
            <input type="button" class="btn btn-primary" value="Back to orders" />
        </a>
    </div>
</div>
